whatwg-url
zlibjs
eng.traineddata
webidl-conversations
wasm-feature-detect
tr46
tesseract.js-core
tesseract.js
regenerator-runtim
opencollective-postinstall
node_modules
regenerator-runtime
webidl-conversions
node-fetch
is-url
idb-keyval
bmp-js
deu.traineddata
bills24
pdf_imgs


# Added by cargo

/target
/to_pdf/bezirk_report.pdf
/to_pdf/ear_report.pdf
/to_pdf/ma7_report.pdf
/to_pdf/target/

/bills_to_db/target/
/bills_to_db/bezirk_report.html
/bills_to_db/bmkos_report.html
/bills_to_db/ear24.html
/bills_to_db/ma7_report.html
/bills_to_db/public/discotec24.csv
/bills_to_db/public/bills.db
/bills_to_db/public/bills_backup.db
/bills_to_db/public/expenses_24.db
/bills_to_db/public/expenses_24safe.db
/bills_to_db/public/discotec_accounting24.db
/bills_to_db/public/discotec_accounting24_backup.db

